<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/logo3.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="../static/css/AboutStyle.css">
    <title>About Us</title>
</head>

<body style="background-color: #dedede;">
    <div class="bg">
        <div class="navbar">
            <ul>
                <li><img class="titlename" src="../static/logo2.png" alt=""></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/">HOME</a></li>
            </ul>
        </div>
    </div>
    <div class="about-section">
        <p>A B O U T</p>
        <H2>OBJECTIVE OF CAR CLINIC </H2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio eligendi inventore qui earum in corporis
            possimus unde eveniet quo fugit deleniti ab ullam blanditiis doloribus voluptatum aliquid id laudantium
            impedit iure nesciunt asperiores perspiciatis, omnis eius! Impedit numquam laborum ea maiores, minima beatae
            ducimus, a accusantium asperiores ratione alias magnam odit. Fuga illum asperiores ad quasi et commodi
            quisquam vero voluptatum rem totam eaque explicabo maiores tempore laboriosam, temporibus, a ex earum!
            Perferendis doloremque magni aut sapiente quo non voluptas nihil delectus soluta omnis eos, ad aliquam
            cumque sunt ducimus nemo tempora? Molestiae odio eum, id sequi repellat similique nulla quisquam ad aliquam
            voluptatem ipsum recusandae eveniet adipisci perferendis unde tempore quaerat. Id quaerat ratione nihil
            minus voluptatibus, hic, corporis earum quas repudiandae aut error labore officia. Perspiciatis, expedita
            tempora consequatur deleniti tenetur quis doloremque iusto natus ducimus, quaerat, vel blanditiis fuga fugit
            praesentium corporis. Voluptate quo fuga, laudantium iste quisquam animi similique ipsa labore magnam
            perspiciatis, provident culpa distinctio maxime fugit repellat, magni numquam mollitia. Iste dolorem
            molestiae commodi soluta, sint dolores voluptatibus harum neque, cum, placeat reprehenderit adipisci minima
            at quas. Ad hic dolore soluta vero velit eum, nisi illum ipsa sunt quasi, laborum dolorum! Provident numquam
            nesciunt voluptatem, nulla possimus debitis, explicabo cupiditate nobis, cumque beatae vitae ex ullam velit
            dolores tempore quis asperiores nam modi animi voluptate itaque consectetur perferendis. Qui a doloremque,
            exercitationem repellendus rem provident ipsa praesentium odio. Vel excepturi nisi minus. Sint incidunt
            tenetur eius voluptatum ad alias officiis deserunt animi eveniet! Illo?</p>
    </div>

    <div class="main">
        <h2 style="text-align:center">OUR TEAM</h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="../static/founder.jpg" alt="Akshay" style="width:200px; height: 260px;">
                    <div class="container">
                        <h2>AKshay A Pawar</h2>
                        <p class="title">CEO & Founder</p>
                        <p>“Inspiration does exist, but it must find you working.”</p>
                        <p>akshaypawarak2000@gmail.com</p>
                        <p><button class="button">CONTACT</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-basic">
            <footer>
                <p class="copyright">Company Akshay_Pawar © 2023</p>
            </footer>
        </div>
    </div>

</body>

</html>